{% extends 'base.html.twig' %}

{% block title %}Détails du produit{% endblock %}
{% block body %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-5 col-md-2 col-sm-6">
                    <div class="white-box text-center"><img style=" max-width:430px; max-height:600px;"
                            src="{{ produit.image }}" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">{{ produit.nom }}</h4>
                    <br>
                    <h4 class="box-title mt-5">Description</h4>
                    <p>{{ produit.description }}</p>
                    <h2 class="mt-5">
                        {{ produit.prix }}€
                    </h2>
                    <button class="btn btn-primary btn-rounded">Ajouter au panier</button>
                    <h3 class="box-title mt-5">Infos supplémentaires</h3>
                    <ul class="list-unstyled">
                        <li>Vendu par : {{ produit.user.username }}</li></li>
                        <li>Catégorie : {{ produit.categorie.titre }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{form_start(commentaireForm)}}
<section style="background-color: #f0f0f0;">
  <div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex flex-start w-100">
              <div class="w-100">
                <h5>Ajouter un commentaire</h5>
                <div class="form-outline">
                   {{form_row(commentaireForm.contenu)}}
                </div>
                <div class="d-flex justify-content-end mt-3">
                  <button type="submit" class="btn btn-primary">Send<i class="fas fa-long-arrow-alt-right ms-1"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{form_end(commentaireForm)}}
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <h4 class="mb-0">Recent comments</h4>
            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

            <div class="d-flex flex-start">
              <div>
                <h6 class="fw-bold mb-1">username</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                   createdAt
                  </p>
                </div>
                <p class="mb-0">
                  contenu
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          </section>

{% endblock %}