{% extends 'base.html.twig' %}

{% block title %}Détails du produit{% endblock %}
{% block body %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img style=" max-width:430px; max-height:600px;"
                            src="{{ produit.image }}" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">{{ produit.nom }}</h4>
                    <br>
                    <h4 class="box-title mt-5">Description</h4>
                    <p>{{ produit.description }}</p>
                    <h2 class="mt-5">
                        {{ produit.prix }}€
                    </h2>
                    <button class="btn btn-primary btn-rounded">Ajouter au panier</button>
                    <h3 class="box-title mt-5">Infos supplémentaires</h3>
                    <ul class="list-unstyled">
                        {# <li><i class="fa fa-check text-success"></i>Vendu par : {{produit.user_id}} </li>
                        <li><i class="fa fa-check text-success"></i>Catégorie : {{ produit.categorie_id }}</li> #}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}