{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<br>
<br>
<h1 class="text-center">Votre panier</h1>


{% if items %}
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.produit.nom }}</td>
                    <td>{{ item.produit.prix }}€</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.produit.prix * item.quantity }}</td>
                    <td>
                        <a href="{{ path('cart_remove', {id: item.produit.id}) }}" class="btn-sm btn-danger">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-end">Total :</td>
                <td>{{ total }}€</td>
            </tr>
        </tfoot>
    </table>
                <a href="{{ path('cart_confirm' )}}" class="btn btn-primary btn-rounded float-right">Payer</a>
{% else %}
    <p class="text-center">Votre panier est vide</p>
{% endif %}

{% endblock %}
